@font-face {
    font-family: berlin;
    src: url(assets/fonts/Berlin.ttf);
    font-weight: normal;
}

@font-face {
    font-family: berlin;
    src: url(assets/fonts/Berlin Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: berlin;
    src: url(assets/fonts/Berlin - Italic.ttf);
    font-style: italic;
}

* {
    font-family: berlin;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(assets/images/tile_background.png);
    background-repeat: repeat-y;
}

.logo {
    padding: 2vw;
    width: 7.5vw;
}

.upperbar {
    background-color: #1F2833;
    width: 95.5vw;
    height: 13.5vh;
    padding: 0 2vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.upperbar ul li {
    padding: 1vw 2vw;
    margin: 1vw;
    list-style: none;
    display: inline-block;
    background: rgba(0,0,0,0);
    border-radius: 0.75vw;
    position: relative;
}

.upperbar ul li::after {
    content: "";
    height: 3px;
    width: 0%;
    background: #66FCF1;
    position: absolute;
    left: 0;
    bottom: -0.5vh;
    transition: 0.5s;
}

.upperbar ul li:hover::after {
    width: 100%;
}

.upperbar ul li a {
    font-weight: bold;
    text-decoration: none;
    color: #C5C6C7;
    text-transform: uppercase;
}